[submodule "MatlabUtils"]
	path = MatlabUtils
	url = https://github.com/yuichi-takeuchi/MatlabUtils
	branch = master
[submodule "python_utils"]
	path = python_utils
	url = https://github.com/yuichi-takeuchi/python_utils
	branch = master
